body {
    padding-top: 80px;
    padding-bottom: 40px;
}

textarea {
  font-family: monospace;
}

.sidebar-nav {
    padding: 9px 0;
}

.nav ul {
    text-align: left;
}

.nav li {
    border-right: 0;
    display: list-item;
    padding: 0;
    white-space: normal;
    font-size: 14px;
}

table.progress td {
    background: #FEFFC7;
}

:link,
:visited {
    text-decoration: none;
    color: #08C;
    border-bottom-width: 0px;
}

:link:hover {
    background: none;
}

#search {
    clear: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

#search input {
    font-size: 14px;
}

form label,
form input {
    display: inline-block;
}

#content {
    position: inherit;
}

#edit #text {
    min-height: 40em;
}

#topsearch label {
    display: inherit;
}

ul.breadcrumb {
  float: left;
}

.btn-group a, .list-group-item:last-child {
    border-bottom-width: 1px;
}

#ctxtnav {
    padding: 0;
}

.trac-progress .progress {
    margin-bottom: 20px;
    width: auto;
    max-width: 100%;
}

.report .report-arguments {
    margin-top: 20px;
}

#content.ticket {
    width: auto;
}

.badge :link, .badge :visited {
    color: #fff;
}

.badge :link:hover {
    text-decoration: none;
}

.ticket h1.searchable {
    margin-bottom: 20px;
}

.ticket .attributes {
    margin-top: 20px;
}

.collapsed > .foldable :link {
    background: none;
}
